<%- include('partials/head') %>

    <h1>Details voor de gekozen activiteit</h1>
    <main>
        <a href="#" class="details">
            <p>Dag, maandag</p>
            <p>Locatie, <%- locatie %></p>
            <p>Wat, <%- activiteit %></p>
            <p>indeling, Allen</p>
            <p>Inhoud, 17:00 vanaf schiphol. 22 te Anadia</p>
            <p>Verzet, wegfietsen</p>
        </a>
        <a href="#" class="details">
            <p>Dag, dinsdag</p>
            <p>Locatie, <%- locatie2 %></p>
            <p>Wat, <%- activiteit2 %></p>
            <p>indeling, T&T</p>
            <p>Inhoud, 17:00 vanaf schiphol. 22 te Anadia</p>
            <p>Verzet, wegfietsen</p>
        </a>
    </main>

    <%- include('partials/footer') %>