<%- include('partials/head') %>

<h1><%- greeting %></h1>


<main>
  <div>
    <h2> Details schema </h2>
    <p><a href="jaarPlan"> Schema's bekijken</a></p>
  </div>
  <div>
    <h2> Vandaag: <%- today %> </h2>
    <div class="contentBlock">
      <p>Locatie is <%- location %></p>
      <p>Wat ga je doen? <%- event %></p>
      <p>De indeling is <%- layout %></p>
      <p>Omschrijving. <%- what %></p>
      <p>Verzet. <%- verzet %></p>
    </div>
  </div>
  <div>
    <h2> Belangrijke datums </h2>
    <p><a href="events"> Datums bekijken</a></p>
  </div>
</main>


<%- include('partials/footer') %>