<%- include('partials/head') %>
  <h1>Data en activiteiten in <%= maand %></h1>
  <main>
    <h2> Klik op een activiteit voor details </h2>
    <article>
      <a href="details">4 tot 10  <%= maand %>, activiteit is <%- activiteit %> in <%- locatie %>.</loc></a>
      <a href="details">16 tot 17  <%= maand %>, activiteit is <%- activiteit2 %> in <%- locatie2 %>.</a>
    </article>
  </main>

  <%- include('partials/footer') %>